{% extends "ithome.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>   
    .dat1 {
         width:900px;
         height:370px;
         position: absolute;
         color:black;
         margin-top:100px;
         margin-left:100px;
         border-radius:30px;
}
</style>
    <div class="dat1">
            {% if messages %}
 {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
{% endif %}
        <form method="POST" style="margin-left:130px;width:500px">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Stock Details</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add</button>
            </div>
        </form>
    </div>
{% endblock content %}
